<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('w3') }}
</head>
<body class="w3-light-gray" style="background-image: url('background.jpg'); background-repeat: no-repeat; background-size: cover;">
  <div class="w3-card-4 w3-white" style="margin:30px 50px;">
    @section('content')
  </div>
</body>
</html>
