# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env
psql.env

# The development sqlite file
database/development.sqlite
