
<!DOCTYPE html>
<html>
<head>
<title>Contoh CRUD Peta Menggunakan LeafletJS + AdonisJS + Postgresql</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ style('w3') }}
{{ style('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}

@section('head')
<!-- Head Section -->
@endsection
</head>
<body class="w3-white">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:1100">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button>
  <span class="w3-bar-item w3-right">Logo</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-light-grey w3-animate-left" style="z-index:3;width:250px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="/images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>User</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp; Close Menu</a>
    <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>&nbsp; Lihat Peta</a>
    <a href="{{ route('PetaController.index') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>&nbsp; Kelola Item Peta</a>
  </div>
  <div class="w3-container">
    <h5>Credit</h5>
  </div>
  <div class="w3-bar-block">
    <a href="https://github.com/egodasa" class="w3-bar-item w3-button w3-padding" target="_blank"><i class="fa fa-user fa-fw"></i>By Ego Dafma Dasa</a>
    <a href="http://leafletjs.com" class="w3-bar-item w3-button w3-padding" target="_blank"><i class="fa fa-copyright fa-fw"></i>LeafletJS</a>
    <a href="https://www.w3schools.com/w3css/default.asp" class="w3-bar-item w3-button w3-padding" target="_blank"><i class="fa fa-copyright fa-fw"></i>&W3CSS</a>
    <a href="https://www.adonisjs.com" class="w3-bar-item w3-button w3-padding" target="_blank"><i class="fa fa-copyright fa-fw"></i>NodeJS with AdonisJS</a>
    <a href="https://www.adonisjs.com" class="w3-bar-item w3-button w3-padding" target="_blank"><i class="fa fa-copyright fa-fw"></i>NodeJS with AdonisJS</a>
    <a href="https://github.com/egodasa/" class="w3-bar-item w3-button w3-padding" target="_blank"><i class="fa fa-copyright fa-fw"></i>MIT</a>
    </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px;margin-top:43px;">
  
  <div class="w3-container w3-white">
    @section('content')
    @endsection
  </div>
  <hr>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>
