@layout('layout.admin')

@section('head')

{{ style('css/leaflet.css') }}
{{ script('js/leaflet.js') }}
{{ script('js/axios.min.js') }}
@endsection

@section('content')
<!-- Modal Detail Marker -->
<div id="modal_item" class="w3-modal" style="display: none; z-index: 1200;">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="showModal('modal_item', 'none')" class="w3-closebtn w3-right">&times;</span>
      <h3>Detail Item Peta</h3>
    </div>
    <div class="w3-container" id="modal_body">
      
    </div>
    <div class="w3-container">
    <form id="form_item" method="POST">
      <p>
        {{ csrfField() }}
        <button id="button_delete_item" type="submit" class="w3-btn w3-teal w3-small">Hapus</button>
        <a id="button_edit_item" class="w3-btn w3-green w3-small">Edit</a>
        <button type="button" class="w3-btn w3-red w3-small" onclick="showModal('modal_item', 'none')">Tutup</button>
      </p>
    </form>
    </div>
  </div>
</div>

<p>
<label>Klik item peta untuk melihat informasi peta</label>
<p>
  <label>Tampilkan item peta berdasarkan kategori:</label>
  <select class="w3-select w3-border w3-small" name="kategori_item">
    <option value="0" selected disable>-- Semua Kategori --</option>
    @each(kitem in kategori_item)
      <option value="{{ kitem.id_kitem }}">{{ kitem.nm_kitem }}</option>
    @endeach
  </select>
  </p>
<div id="peta" style="width:100%; height:500px;"></div>
</p>
<script>
// Inisialisasi Peta
var map = L.map('peta').setView([-0.502106, 117.153709], 5);
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZWdvZGFzYSIsImEiOiJjamd4NWkyMmwwNms2MnhsamJvaWQ3NGZmIn0.6ok1IiPZ0sPNXmiIe-iEWA', {
  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery Â© <a href="https://www.mapbox.com/">Mapbox</a>',
  id: 'mapbox.streets',
  noWrap: false
}).addTo(map);

var layer_overlays = {
  "Polygon": L.featureGroup().addTo(map),
  "Polyline": L.featureGroup().addTo(map),
  "Rectangle": L.featureGroup().addTo(map),
  "Circle": L.featureGroup().addTo(map),
  "Marker": L.featureGroup().addTo(map)
}
var layer_control = null
var list_bounds = []

// Method 


// Method untuk setiap layer.
// this disini didapat dari bind(r[x]) agar nilai dari database dapat dimasukkan ke sini.
function eachItemPeta(feature, layer){
  // Nama tipe layer bersifat baku dan sama dengan penulisan leafletjs. cek variabel layer_overlays dibagian atas
  layer_overlays[this.tipe_item].addLayer(layer);
  
  //Event untuk setiap layer
  layer.on('click', (function(each_layer){
    var list = []
    var geojson = feature;
    geojson.properties.information = this.info_item;
    list.push('<table class="w3-table-all">')
    list.push('<tr><td>Nama Item</td><td>' + this.nm_item + '</td></tr>');
    list.push('<tr><td>Tipe Item</td><td>' + this.tipe_item + '</td></tr>');
    if(geojson.properties.detail){
      var val = geojson.properties.detail;
      var keys = Object.keys(val);
      var lkeys = keys.length;
      for(var x = 0; x < lkeys; x++){
        list.push('<tr><td>' + keys[x] + '</td><td>' + val[keys[x]] + '</td></tr>');
      }
    }
    list.push('<tr><td>GeoJSON</td><td><textarea class="w3-input w3-border">' + JSON.stringify(geojson) + '</textarea></td></tr>');
    list.push('</table>');
    document.getElementById('modal_body').innerHTML = null
    document.getElementById('modal_body').innerHTML = list.join('');
    showModal('modal_item', 'block');
    
    document.getElementById('form_item').action = "{{ route('PetaController.index') }}/" + this.id_item + "?_method=DELETE";
    document.getElementById('button_edit_item').href = "{{ route('PetaController.index') }}/" + this.id_item;
  }).bind(this))
}

function showModal(id, status){
  document.getElementById(id).style.display = status;
}

//ini method async
//untuk menampilkan layer peta 
function showItemPeta(url){
  // Hapus semua layer yang ada terlebih dahulu
  var keys = Object.keys(layer_overlays);
  var lkeys = keys.length;
  for(var x = 0; x < lkeys; x++){
    layer_overlays[keys[x]].clearLayers()
  }
  var instance = axios.create();
  instance.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
  
  axios.get(url)
    .then(function(res){
      var r = res.data;
      var l = r.length;
      for(var x = 0; x < l; x++){
        var item = null;
        item = L.geoJSON(r[x].koordinat,{
          onEachFeature: ((eachItemPeta).bind(r[x])),
          style: function(geojson){
            return geojson.properties.style
          }
        })
      }
      map.fitBounds([
        layer_overlays.Polygon.getBounds(),
        layer_overlays.Polyline.getBounds(),
        layer_overlays.Circle.getBounds(),
        layer_overlays.Rectangle.getBounds(),
        layer_overlays.Marker.getBounds()
      ])
    })
  if(layer_control){
    map.removeControl(layer_control)
  }
  layer_control = L.control.layers(null, layer_overlays).addTo(map);
}

// Program
showItemPeta("{{ route('PetaController.index') }}");

// Event 
document.getElementsByName('kategori_item')[0].onchange = function(){
  if(this.value == "0"){
    showItemPeta("/peta")
  }else{
    showItemPeta("/peta/kategori/"+this.value)  
  }
}
</script>
@endsection
